* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-title {
  padding: 3%;
  align-self: center;
}

#music-search {
  display: inline-flex;
  flex-direction: row;
  width: 95%;
}

#search-bar-field {
  align-self: left;
  width: 90%;
  padding-right: 5%;
}

#search-bar {
  border: 2px solid black;
  align-self: left;
  width: 100%;
  padding-left: 2%;
}

#results-header {
  align-self: left;
  width: 98%;
}

#search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
